{% extends 'base/base.html' %}
{% load staticfiles %}

{% block js %}
    <script src="{% static 'js/angular/controller_subject.js' %}"></script>
{% endblock %}

{% block body %}

<md-content class="md-padding" layout-xs="column" layout="row" ng-controller="ListCtrl"  class="listdemoListControls" ng-cloak>
    <div flex-xs="" flex-gt-xs="100" layout="column">
    <md-card>

        <md-toolbar ng-hide="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>Personas</span>
            <div flex></div>
               <md-button class="md-warn md-raised" ng-click="showDialogMessage($event)">Cargar conjuntos</md-button>
             <md-button class="md-raised" ng-click="createUser($event)">Agregar Persona</md-button>
          </div>
        </md-toolbar>
        <md-table-container>
  <table md-table  multiple ng-model="selected" md-progress="promise">
      <thead md-head md-order="subject.order" md-on-reorder="logOrder">
      <tr md-row>
        <th md-column><span>Nombre</span></th>
        <th md-column md-numeric><span>Rut</span></th>
        <th md-column md-numeric>Edad</th>
        <th md-column md-numeric>Email</th>
          <th md-column md-numeric>Telefono</th>
        <th md-column md-numeric>Conjuntos</th>
          <th md-column md-numeric md-order-by="ultima_conexion">Ultima Conexion</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="subject" md-select-id="nombre" md-auto-select ng-repeat="subject in subjects">
        <td md-cell ng-click="editUser(subject,$event)" >{$ subject.nombre $}</td>
        <td md-cell ng-click="editUser(subject,$event)" >{$ subject.rut   $}</td>
          <td md-cell ng-click="editUser(subject,$event)" >{$ subject.edad $}</td>
        <td md-cell ng-click="editUser(subject,$event)" >{$ subject.email  $}</td>
          <td md-cell ng-click="editUser(subject,$event)" >{$ subject.phone $}</td>
          <td md-cell ng-click="editUser(subject,$event)" >{$ getConjuntos(subject.conjuntos)  $}</td>
          <td md-cell ng-click="editUser(subject,$event)" >{$ subject.ultima_conexion $}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>
     </md-card>
    </div>
  </md-content>
{% endblock %}
