{% extends 'base/base.html' %}
{% load staticfiles %}

{% block js %}
    <script src="{% static 'js/angular/controller_survey.js' %}"></script>
{% endblock %}

{% block body %}

<md-content class="md-padding" layout-xs="column" layout="row" ng-controller="MainCtrl"  class="listdemoListControls" >
<div flex-xs="" flex-gt-xs="20" layout="column">

       <md-card md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Enviar encuesta</span>
          </md-card-title-text>
        </md-card-title>
            <md-input-container class="md-padding">
          <label>Encuesta</label>
          <md-select name="type" ng-model="project.type" required>
            <md-option value="app">Application</md-option>
            <md-option value="web">Website</md-option>
          </md-select>
        </md-input-container>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised">Enviar</md-button>
          <md-button class="md-raised md-primary">Crear</md-button>
        </md-card-actions>
      </md-card>

    <md-card md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Nueva encuesta</span>
              <md-input-container>
                <label>Titulo</label>
                <input ng-model="user.title">
                </md-input-container>
              <md-input-container class="md-block">
                <label>Descripcion</label>

            <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
              <md-input-container>
                <label>URL</label>
                <input ng-model="user.url">
              </md-input-container>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary">Crear</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs="" flex-gt-xs="60" layout="column">
        <md-subheader>
       <p>Lista de encuestas</p>

        </md-subheader>
<md-divider></md-divider>
  <md-list-item ng-repeat="encuesta in encuestas" ng-click="goToPerson(person.name, $event)" class="noright" >
    <p>{$ encuesta.titulo $}</p>
      <p>{$ encuesta.description$}</p>
      <p>{$ encuesta.date_creation$}</p>
       <nvd3 options="options" data="encuesta.estado"></nvd3>
      <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
      <md-checkbox class="md-secondary" ng-model="person.selected2"></md-checkbox>
      <md-divider></md-divider>
  </md-list-item>
</md-list>
    </div>
    <div flex-xs="" flex-gt-xs="20" layout="column">
        <md-card md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Filtros</span>
          </md-card-title-text>
             <md-card-actions layout="column">
                <md-list-item ng-repeat="topping in toppings">
                    <md-checkbox class="md-secondary" ng-model="topping.wanted"></md-checkbox>
                <p> {$ topping.name $} </p>

              </md-list-item>
             </md-card-actions>
        </md-card-title>
      </md-card>

      <md-card md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Nuevo mensaje</span>
              <md-input-container>
                <label>Titulo</label>
                <input ng-model="user.title">
                </md-input-container>
              <md-input-container class="md-block">
            <label>Descripcion</label>
            <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary">Enviar</md-button>
        </md-card-actions>
      </md-card>



    </div>
  </md-content>
{% endblock %}
