{% extends 'base/base.html' %}
{% load staticfiles %}

{% block js %}
    <script src="{% static 'js/angular/controller_survey_info.js' %}"></script>
    <script type="text/javascript">
        var pre = eval({{surveyDetails|safe}})

        //var surveyDetails = JSON.parse(pre);
    console.log(pre)
    </script>
{% endblock %}

{% block body %}

<md-content class="md-padding" layout-xs="column" layout="row" ng-controller="MainCtrl"  class="listdemoListControls" ng-cloak>
    <div flex-xs="" flex-gt-xs="80" layout="column">
    <md-card>

        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>Personas</span>
            <div flex></div>
             <md-button class="md-raised">Enviar Mensaje</md-button>
             <md-button class="md-raised">Enviar Encuesta</md-button>
          </div>


        </md-toolbar>
        <md-table-container>
  <table md-table  multiple ng-model="selected" md-progress="promise">
      <thead md-head md-order="subject.order" md-on-reorder="cargarDatos">
      <tr md-row>
        <th md-column md-order-by="nameToLower"><span>Nombre</span></th>
        <th md-column md-numeric md-order-by="calories.value"><span>Conjuntos</span></th>
        <th md-column md-numeric>Enviada</th>
        <th md-column md-numeric>Fecha de Envio</th>
          <th md-column md-numeric>Respondida</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="subject" md-select-id="nombre" md-auto-select ng-repeat="subject in surveyDetails.usuarios">
        <td md-cell ng-click="showAdvanced($event)" >{$ subject.nombre $}</td>
        <td md-cell ng-click="showAdvanced($event)" >{$ getConjuntos(subject.conjuntos)   $}</td>
          <td md-cell ng-click="showAdvanced($event)" >{$ subject.enviada $}</td>
        <td md-cell ng-click="showAdvanced($event)" >{$ subject.fecha_envio  $}</td>
          <td md-cell ng-click="showAdvanced($event)" >{$ subject.responded $}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[7, 10, 15]" md-page="query.page" md-total="{$subjects.count$}" md-on-paginate="cargarDatos" md-page-select></md-table-pagination>
        </md-card>
    </div>
<div flex-xs="" flex-gt-xs="20" layout="column">

    </div>
  </md-content>
{% endblock %}
