{% extends 'base/base.html' %}
{% load staticfiles %}

{% block js %}
    <script src="{% static 'js/angular/controller_survey.js' %}"></script>
{% endblock %}

{% block body %}

<md-content class="md-padding" layout-xs="column" layout="row" ng-controller="MainCtrl"  class="listdemoListControls" ng-cloak>
<div flex-xs="" flex-gt-xs="20" layout="column">

    <md-card md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Nueva encuesta</span>

              <md-input-container>
                <label>Titulo</label>
                <input ng-model="createSurvey.encuesta.titulo">
                </md-input-container>

              <md-input-container class="md-block">
                <label>Descripcion</label>

            <textarea ng-model="createSurvey.encuesta.description" md-maxlength="600" rows="5" md-select-on-focus></textarea>
          </md-input-container>
              <md-input-container>
                  <label>Termino</label>
                  <md-datepicker ng-model="createSurvey.encuesta.date" name="dateField"></md-datepicker>

            </md-input-container>
              <md-input-container>
                <label>URL</label>
                <input ng-model="createSurvey.encuesta.url">
              </md-input-container>

          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" ng-click="createAndSendSurvey()">Crear</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs="" flex-gt-xs="80" layout="column">
      <md-card>

        <md-toolbar ng-hide="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>Encuestas</span>
            <div flex></div>
             <md-button class="md-raised" ng-click="showAdvanced($event)">Editar encuesta</md-button>
          </div>
        </md-toolbar>
        <md-table-container>
  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
      <thead md-head md-order="encuesta.order" md-on-reorder="logOrder">
      <tr md-row>
       <th md-column md-order-by="titulo"><span>Titulo</span></th>
          <th md-column md-numeric md-order-by="date_creation"><span>Fecha Creacion</span></th>

{#          <th md-column md-numeric><span>Estado</span></th>#}
          <th md-column md-numeric md-order-by="date_end"><span>Fecha Termino</span></th>
          <th md-column md-numeric md-order-by="estado[0]"><span>Respuestas</span></th>
          <th md-column md-numeric><span>url</span></th>
          <th md-column md-numeric md-order-by="last_sended_date"><span>Ultima fecha de Envio</span></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="encuesta" md-select-id="pk" ng-repeat="encuesta in encuestas">
        <td md-cell ng-click="loadSurveyDetail(encuesta)" >{$encuesta.titulo$}</td>
        <td md-cell ng-click="loadSurveyDetail(encuesta)" ><p ng-show="encuesta.date_creation">{$encuesta.date_creation$}</p><p ng-hide="encuesta.date_creation">No aplica</p></td>
        <td md-cell> {$encuesta.date_end$}</td>
{#        <td md-cell ng-click="loadSurveyDetail(encuesta)" > <nvd3  options="options" data="encuesta.estado"></nvd3></td>#}
          <td md-cell ng-click="loadSurveyDetail(encuesta)" ><p ng-show="encuesta.estado[0].y !=0 || encuesta.estado[1].y !=0">{$encuesta.estado[0].y/(encuesta.estado[1].y + encuesta.estado[0].y)*100 | number:0 $}%</p><p ng-hide="encuesta.estado[0].y !=0 ||encuesta.estado[1].y !=0">No enviada</p></td>
          <td md-cell> <a ng-href="{$encuesta.url$}">{$ encuesta.url $}</a></td>
          <td md-cell>{$ encuesta.last_sended_date $}</td>
      </tr>
    </tbody>
  </table>

</md-table-container>       </md-card>
{#        <md-subheader>#}
{#       <p>Lista de encuestas</p>#}
{##}
{#        </md-subheader>#}
{#<md-divider></md-divider>#}
{#  <md-list-item ng-repeat="encuesta in encuestas" ng-click="goToPerson(person.name, $event)" class="noright" >#}
{#    <p>{$ encuesta.titulo $}</p>#}
{#      <p>{$ encuesta.description$}</p>#}
{#      <p>{$ encuesta.date_creation$}</p>#}
{#       <nvd3 options="options" data="encuesta.estado"></nvd3>#}
{#      <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>#}
{#      <md-checkbox class="md-secondary" ng-model="person.selected2"></md-checkbox>#}
{#      <md-divider></md-divider>#}
{#  </md-list-item>#}
{#</md-list>#}
    </div>
  </md-content>
{% endblock %}
