<md-dialog aria-label="Dialog" >
    <form>
        <md-dialog-content ng-controller="ListCtrl">
            <div class="md-dialog-content">
    <lf-ng-md-file-input lf-mimetype="application/pdf" lf-files="files" drag></lf-ng-md-file-input>
                </div>
            </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised md-warn" ng-click="no()">Cancelar</md-button>
      <md-button class="md-raised md-primary" ng-click="enviar()" >Enviar</md-button>
    </md-dialog-actions>
</form>
</md-dialog>